*{
	padding: 0;
	margin: 0;
}

#glavni{
	width: 1230px;
}

body{
	background-image: url("wallpaper.jpg");
	border: solid black 5px;
}

#platno{
	margin-left: 350px;
	margin-top: 220px;
	border: black solid 2px;
	width: 840px;
	height: 480px;
	cursor: none;
}

#platnoBackground{
	position: absolute;
	width: 840px;
	height: 480px;
	background-color: rgb(255,255,255);
	opacity: 50%;	
	z-index: -1;
}

.cas{
	position: absolute;
	left: 720px;
	top: 85px;
	padding: 10px;
	background-color: rgb(0,0,0);
	border: white solid 2px;
	border-radius: 5px;
	color: white;
	font-size: 20px;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.tocke{
	position: absolute;
	left: 725px;
	top: 150px;
	padding: 10px;
	background-color: rgb(0,0,0);
	border: white solid 2px;
	border-radius: 5px;
	color: white;
	font-size: 20px;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#konecIgre{
	position: absolute;
	left: 420px;
	top: 350px;
	width: 610px;
	padding: 50px;
	border: grey solid 2px;
	border-radius: 5px;
	background-color: rgba(127,127,127,127);
	color: white;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#igraj{
	position: absolute;
	left: 730px;
	top: 20px;
	padding: 10px;
	background-color: rgb(0,0,0);
	border: white solid 2px;
	border-radius: 5px;
	color: white;
	font-size: 20px;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#igraj:hover{
	opacity: 75%;
	cursor: pointer;
}

.tezavnost{
	position: absolute;
	top: 150px;
	left: 100px;
	font-size: 20px;
	color: white;
	background-color: rgb(0,0,0);
	padding: 10px;
	border: white solid 2px;
	border-radius: 5px;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

li{
	cursor: pointer;
	width: 50px;
}

li:hover{
	background-color: grey;
}


#konecIgreTooltip {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 48%;
  bottom: 100%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

#konecIgre:hover #konecIgreTooltip {
  visibility: visible;
  opacity: 1;
}

#konecIgre #konecIgreTooltip::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}